@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

	@font-face {
		font-family: 'et-book';
		src: url('et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot');
		src: url('et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix')
				format('embedded-opentype'),
			url('et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff') format('woff'),
			url('et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf') format('truetype'),
			url('et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf')
				format('svg');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'et-book';
		src: url('et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot');
		src: url('et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix')
				format('embedded-opentype'),
			url('et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff')
				format('woff'),
			url('et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf')
				format('truetype'),
			url('et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf')
				format('svg');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'et-book';
		src: url('et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot');
		src: url('et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix')
				format('embedded-opentype'),
			url('et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff') format('woff'),
			url('et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf') format('truetype'),
			url('et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf')
				format('svg');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'et-book-roman-old-style';
		src: url('et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot');
		src: url('et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix')
				format('embedded-opentype'),
			url('et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff')
				format('woff'),
			url('et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf')
				format('truetype'),
			url('et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf')
				format('svg');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	h1 {
		@apply mt-16 mb-6 text-2xl;
		line-height: 1;
	}

	h2 {
		@apply italic mt-[2.1rem] mb-[1.4rem] text-xl;
		line-height: 1;
	}

	h3 {
		@apply italic mt-8 mb-[1.4rem] text-lg;
		line-height: 1;
	}

	hr {
		@apply block h-[1px] lg:w-[55%] border-0 border-t border-neutral p-0 my-4 mx-0;
	}

	p.subtitle {
		@apply italic my-4 text-[1.8rem] block;
		line-height: 1;
	}

	section {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	p,
	dl,
	ol,
	ul {
		@apply text-md max-w-[90%];
		line-height: 2rem;
	}

	p {
		@apply my-[1.4rem] mr-0;
	}

	dl,
	ol,
	ul {
		@apply text-md lg:max-w-full;
		line-height: 2rem;
	}

	p,
	footer,
	table {
		@apply lg:w-[55%];
	}

	/* 50 + 5 == 55, to be the same width as paragraph */
	dl,
	ol,
	ul {
		@apply w-1/2 list-disc list-inside;
		-webkit-padding-start: 5%;
	}

	dt:not(:first-child),
	li:not(:first-child) {
		@apply mt-1;
	}

	figure {
		@apply p-0 border-0 max-w-[90%] lg:max-w-[55%] mb-[3em];
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}

	figcaption {
		@apply my-0 text-[1.1rem] relative lg:max-w-[40%];
		float: right;
		clear: right;
		line-height: 1.6;
		vertical-align: baseline;
	}

	figure.fullwidth figcaption {
		@apply lg:mr-[24%];
	}

	/* Links: replicate underline that clears descenders */
	a:link,
	a:visited {
		color: inherit;
	}

	.no-tufte-underline:link {
		background: unset;
		text-shadow: unset;
	}

	a:link,
	.tufte-underline,
	.hover-tufte-underline:hover {
		text-decoration: none;
		background: -webkit-linear-gradient(var(--b1), var(--b1)),
			-webkit-linear-gradient(var(--b1), var(--b1)),
			-webkit-linear-gradient(currentColor, currentColor);
		background: linear-gradient(var(--b1), var(--b1)), linear-gradient(var(--b1), var(--b1)),
			linear-gradient(currentColor, currentColor);
		-webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
		-moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
		background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
		background-repeat: no-repeat, no-repeat, repeat-x;
		text-shadow: 0.03em 0 var(--b1), -0.03em 0 var(--b1), 0 0.03em var(--b1), 0 -0.03em var(--b1),
			0.06em 0 var(--b1), -0.06em 0 var(--b1), 0.09em 0 var(--b1), -0.09em 0 var(--b1),
			0.12em 0 var(--b1), -0.12em 0 var(--b1), 0.15em 0 var(--b1), -0.15em 0 var(--b1);
		background-position: 0% 93%, 100% 93%, 0% 93%;
	}

	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		a:link,
		.tufte-underline,
		.hover-tufte-underline:hover {
			background-position-y: 87%, 87%, 87%;
		}
	}

	a:link::selection,
	a:link::-moz-selection {
		text-shadow: 0.03em 0 var(--ac), -0.03em 0 var(--ac), 0 0.03em var(--ac), 0 -0.03em var(--ac),
			0.06em 0 var(--ac), -0.06em 0 var(--ac), 0.09em 0 var(--ac), -0.09em 0 var(--ac),
			0.12em 0 var(--ac), -0.12em 0 var(--ac), 0.15em 0 var(--ac), -0.15em 0 var(--ac);
		background: var(--ac);
	}

	/* TODO: This should be turned into svelte components to avoid manual repetition when writing content */
	/* Can also use Image functionality from the blog template */
	img {
		@apply max-w-full;
	}

	/*  .sidenote, */
	/*  .marginnote { */
	/* 	@apply w-1/2 mt-[0.3rem] mb-0 text-[1.1rem] relative float-right clear-right mr-[-60%]; */
	/* TODO: these two lines are not in the component yet */
	/* 	line-height: 1.3; */
	/* 	vertical-align: baseline; */
	/* } */

	div.fullwidth,
	table.fullwidth {
		@apply w-full;
	}

	div.table-wrapper {
		overflow-x: auto;
		font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
	}

	.sans {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
		letter-spacing: 0.03em;
	}

	code,
	pre > code {
		font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
		font-size: 1rem;
		line-height: 1.42;
		-webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
	}

	pre > code {
		@apply w-[97%];
	}

	.sans > code {
		font-size: 1.2rem;
	}

	h1 > code,
	h2 > code,
	h3 > code {
		font-size: 0.8em;
	}

	.marginnote > code,
	.sidenote > code {
		font-size: 1rem;
	}

	pre > code {
		@apply block w-[97%] lg:w-[52.5%] text-[0.9rem] ml-[2.5%];
		overflow-x: auto;
		display: block;
	}

	pre.fullwidth > code {
		width: 90%;
	}

	.fullwidth {
		max-width: 90%;
		clear: both;
	}

	span.newthought {
		font-variant: small-caps;
		font-size: 1.2em;
	}

	input.margin-toggle {
		display: none;
	}

	label {
		cursor: pointer;
	}

	label.sidenote-number {
		display: inline-block;
		max-height: 2rem; /* should be less than or equal to paragraph line-height */
	}

	label.margin-toggle:not(.sidenote-number) {
		display: none;
	}

	.iframe-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	div.table-wrapper,
	table {
		width: 85%;
	}

	img {
		width: 100%;
	}

	@media (max-width: 760px) {
		hr,
		section > p,
		section > footer,
		section > table {
			@apply w-full;
		}

		pre > code {
			@apply w-[97%];
		}

		section > dl,
		section > ol,
		section > ul {
			@apply w-[90%];
		}

		figure {
			@apply max-w-[90%];
		}

		figcaption,
		figure.fullwidth figcaption {
			@apply mr-0 max-w-none;
		}

		blockquote {
			@apply ml-[1.5em] mr-0;
		}

		blockquote p,
		blockquote footer {
			@apply w-full;
		}

		.margin-toggle:checked + .sidenote,
		.margin-toggle:checked + .marginnote {
			display: block;
			float: left;
			left: 1rem;
			clear: both;
			width: 95%;
			margin: 1rem 2.5%;
			position: relative;
		}
	}
}
